#ui-datepicker-div {
	display: none;
	z-index: 999 !important;
	left: 25px !important;
}

/* ----- Meta boxes setup ----- */

div#eab-events-fpe-meta_info {
    display: flex;
	flex-direction: column;
}
div#eab-events-fpe-meta_info{
	@media (max-width: 800px) {
	 	 flex: 100%;
	}
}

.eab-events-fpe-col_wrapper {
	overflow: hidden;
	margin: .4% 0;
	flex: 50%;
}

.eab-events-fpe-meta_box {
	display: flex;
	flex-direction: row;
	flex-wrap:wrap;
	align-items: center;
	gap: 15px;
	padding: .4%;
	border: 1px solid #ddd;
	
}

div#eab-events-fpe-meta_box-categories {
    display: flex;
}

#eab-events-fpe-status_type {
	/*float: right;*/
}

#eab-events-fpe-rsvps, #eab-events-fpe-meta_box-venue {
	float: none;
	width: auto;
}

#eab-events-fpe-rsvps {
	border: none;
}

/* ----- General meta box elements ----- */
.eab-events-fpe-meta_box label {
	width: 100%;
}

#eab-events-fpe-date_time label {
	width: 6em;
}

#eab-events-fpe-waiting_indicator {
	margin-left: 1em;
	margin-right: 1.5em;
}

.hide_time_option{
	display: none;
}

.eab_action_button{
	cursor: pointer;
}

/* ----- Form elements setup ----- */
#eab-events-fpe-event_title {
	width: 99%;
	font-size: 1.2em;
}

/* ----- Date/time metabox ----- */
#eab-events-fpe-venue {
	min-width: 330px;
}

/* ----- Messages ----- */
.eab-events-fpe-error, #eab-events-fpe-date_time-error {
	color: #A00;
}
.eab-events-fpe-success {
	color: #060;
}

.eab-events-pae-meta_box {
	/*width: 47%;*/
}