#psourceevents-wrapper {
    padding: 1em;
}

.psourceevents-list {
    clear: both;
    /*padding: 1em;*/
}

.psourceevents-list table {
    width: 100%;
    border-collapse: collapse;
}

.psourceevents-list table th {
    width: 14.285%;
    background: #333;
    color: #ddd;
    padding: .4em;
    cursor: default;
}

.psourceevents-list table td {
    border: 1px solid #ddd;
    height: 120px;
    width: auto;
    /* fix a+ conflict */
}

.psourceevents-list table td .eab-date-full {
    display: none;
}

.psourceevents-list table td.no-left-border {
    border-left: none;
}

.psourceevents-list table td.no-right-border {
    border-right: none;
}

.psourceevents-list table td.today {
    background: #ddd;
}

a.psourceevents-calendar-event {
    display: block;
    margin: .2em;
    padding: .1em .4em;
    background: #75AB24;
    color: #fff;
    text-decoration: none;
    border: 1px solid #558B04;
    border-radius: 5px;
}

a.psourceevents-calendar-event:hover {
    background: #659B14;
    text-decoration: none;
}

.psourceevents-calendar-event-info {
    display: none;
    position: absolute;
    padding: .4em;
    min-width: 200px;
    max-width: 450px;
    background: #464646;
    margin-top: 1em;
    border: 1px solid #262626;
    border-radius: 5px;
    z-index: 999;
}

.psourceevents-calendar-event-info img {
    display: block
}


/* ----- Shortcode ----- */

.eab-shortcode_calendar .eab-shortcode_calendar-title-top,
.eab-shortcode_calendar .eab-shortcode_calendar-title-bottom {
    background: transparent;
    height: auto;
    border: none;
}

.eab-shortcode_calendar .eab-shortcode_calendar-title-top td,
.eab-shortcode_calendar .eab-shortcode_calendar-title-bottom td {
    height: auto;
    border: none;
    text-align: center;
}

.eab-shortcode_calendar .eab-shortcode_calendar-title-top td a,
.eab-shortcode_calendar .eab-shortcode_calendar-title-bottom td a {
    text-decoration: none;
}

.eab-shortcode_calendar .eab-shortcode_calendar-title-top h4 {
    margin: 0;
    padding: 0;
}

.eab-shortcode_calendar .eab-shortcode_calendar-title-top .eab-navigation-prev,
.eab-shortcode_calendar .eab-shortcode_calendar-title-top .eab-navigation-next {
    font-size: 1.6em;
}

.eab-shortcode_calendar .psourceevents-calendar-event-info img,
.eab-shortcode_calendar .psourceevents-calendar-event-info .eab-calendar-event_excerpt {
    display: block;
}


/* ----- Breakpoints ----- */

@media screen and (max-width: 940px) {
    /* force old browsers, such as legacy droid */
    .psourceevents-list table.eab-monthly_calendar,
    .psourceevents-list table.eab-monthly_calendar tr,
    .psourceevents-list table.eab-monthly_calendar th,
    .psourceevents-list table.eab-monthly_calendar td {
        display: block;
    }
    .psourceevents-list table.eab-monthly_calendar td {
        display: inline-block;
        height: auto;
        padding: 5px;
        width: 100%;
    }
    .psourceevents-list table.eab-monthly_calendar tbody td[colspan],
    .psourceevents-list table.eab-monthly_calendar thead th,
    .psourceevents-list table.eab-monthly_calendar tfoot th {
        display: none;
    }
    .psourceevents-list table.eab-monthly_calendar thead h4 span,
    .psourceevents-list table.eab-monthly_calendar tfoot b span {
        display: none;
    }
    .psourceevents-list table.eab-monthly_calendar thead h4 time:after,
    .psourceevents-list table.eab-monthly_calendar tfoot b time:after {
        content: attr(datetime);
    }
    .psourceevents-list table.eab-monthly_calendar thead td,
    .psourceevents-list table.eab-monthly_calendar tfoot td {
        float: left;
        width: 20%;
        padding: 0;
    }
    .psourceevents-list table.eab-monthly_calendar .psourceevents-calendar-event {
        font-weight: bold;
    }
    .psourceevents-list table.eab-monthly_calendar .psourceevents-calendar-event-info {
        position: static;
        /*display: inline!important;*/
        background: none;
        border: none;
        font-weight: normal;
        font-size: .9em;
    }
    .psourceevents-list table.eab-monthly_calendar .psourceevents-calendar-event-info:before {
        content: ' ';
        display: block;
    }
    .psourceevents-list table.eab-monthly_calendar td .eab-date-full {
        display: block !important;
    }
    .psourceevents-list table.eab-monthly_calendar td .eab-date-ordinal {
        display: none;
    }
}


/* end 940px break */

@media screen and (max-width: 1360px) {
    /* force old browsers, such as legacy droid */
    .psourceevents-list table.eab-monthly_calendar,
    .psourceevents-list table.eab-monthly_calendar tr,
    .psourceevents-list table.eab-monthly_calendar th,
    .psourceevents-list table.eab-monthly_calendar td {
        display: block;
        /*zoom: 0.7;*/
    }
    .psourceevents-list table.eab-monthly_calendar td {
        display: inline-block;
        height: auto;
        padding: 5px;
        width: 100%;
    }
    .psourceevents-list table.eab-monthly_calendar tbody td[colspan],
    .psourceevents-list table.eab-monthly_calendar thead th,
    .psourceevents-list table.eab-monthly_calendar tfoot th {
        display: none;
    }
    .psourceevents-list table.eab-monthly_calendar thead h4 span,
    .psourceevents-list table.eab-monthly_calendar tfoot b span {
        display: none;
    }
    .psourceevents-list table.eab-monthly_calendar thead h4 time:after,
    .psourceevents-list table.eab-monthly_calendar tfoot b time:after {
        content: attr(datetime);
    }
    .psourceevents-list table.eab-monthly_calendar thead td,
    .psourceevents-list table.eab-monthly_calendar tfoot td {
        float: left;
        width: 20%;
        padding: 0;
    }
    .psourceevents-list table.eab-monthly_calendar .psourceevents-calendar-event {
        font-weight: bold;
    }
    .psourceevents-list table.eab-monthly_calendar .psourceevents-calendar-event-info {
        position: static;
        /*display: inline!important;*/
        background: none;
        border: none;
        font-weight: normal;
        font-size: 1em;
    }
    .psourceevents-list table.eab-monthly_calendar .psourceevents-calendar-event-info:before {
        content: ' ';
        display: block;
    }
    .psourceevents-list table.eab-monthly_calendar td .eab-date-full {
        display: block !important;
    }
    .psourceevents-list table.eab-monthly_calendar td .eab-date-ordinal {
        display: none;
    }
}